<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" singleton="true">
		 <property name="driverClassName" value="org.postgresql.Driver" />
		 <property name="url" value="jdbc:postgresql://127.0.0.1:5432/pfc" />
		 <property name="username" value="postgres" />
		 <property name="password" value="postgres" />
	 </bean>

	<bean id="connectionManager" class="es.itv.model.data.ConnectionManager">
       <property name="dataSource"><ref bean="dataSource"/></property>
    </bean>
    
    <bean id="personaDAO" class="es.itv.model.data.dao.PersonaDAO">
    	<property name="connectionManager"><ref bean="connectionManager"></ref></property>
    </bean>
    
    <bean id="titulacionDAO" class="es.itv.model.data.dao.TitulacionDAO">
    	<property name="connectionManager"><ref bean="connectionManager"></ref></property>
    </bean>
    
    <bean id="asignaturaDAO" class="es.itv.model.data.dao.AsignaturaDAO">
    	<property name="connectionManager"><ref bean="connectionManager"></ref></property>
    </bean>
    
    <bean id="hello" class="es.itv.test.Hello">
    	<property name="personaDAO"><ref bean="personaDAO"></ref></property>
    </bean>
    
    <bean id="personaResource" class="es.itv.rest.PersonaResource">
    	<property name="personaDAO"><ref bean="personaDAO"></ref></property>
    </bean>
    
    <bean id="titulacionResource" class="es.itv.rest.TitulacionResource">
    	<property name="titulacionDAO"><ref bean="titulacionDAO"></ref></property>
    	<property name="asignaturaDAO"><ref bean="asignaturaDAO"></ref></property>
    </bean>
</beans>